* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1.5em 0;
}

#container {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}


#colors {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
}

.color {
  height: 100%;
  width: 10vw;
}

.hexs {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5em;  
}

h1 {
  font-size: 20px;
  
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  form {
    width: 90%;
  }

  .color {
    
    width: 20vw;
  }

  h1 {
    font-size: 12px;
  }
}